@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overscroll-behavior-y: none;
}

body {
  background-color: #fafafa;
}

.seasons {
  font-family: 'the-seasons', sans-serif;
}

.henriette {
  font-family: henriette, sans-serif;
}

.articulat {
  font-family: 'articulat-cf', sans-serif;
}
